.contentContainer{
  width: 100%;
  margin-block: 0;
  padding-block: 0;
  background-color: #F9F9F9;
}

.body{
  display: flex;
}

html, body, .body{
  background-color: #F9F9F9;
}

.navigateLink a{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Noto Sans';
  margin-inline-start: 44px;

}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: none;
}

.headerProject{
  font-family: 'Noto Sans';
  font-size: 32px;
  font-weight:bold;
  margin-block: 0;
  padding-block: 0;

}

.headerContentPage{
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  align-self: center;
  align-content: center;
  height: 43px;
  margin-block-start: 37px;
  margin-inline: 44px;

}

.headerContentPage button{
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.todoTitle{
  margin-inline-end: 44px;
}

.todoTitle h2{
  font-size: 24px;
  font-weight:500;
  font-family: 'Noto Sans';
}

.todoTitleContainer, .headerContentPage{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  
  justify-items: center;
}

.todoTitleContainer{
  height: 100%;
  min-height: 45px;
  margin-inline: 44px;
  margin-block-start: 40px;
}

.colorLineTitile{
  width: 100%;
  background-color: #F5234B;
  height: 4px;
  border-radius: 5px;
}

.todoTitle:not(:first-of-type){
  margin-inline-start: 40px;
}

.headerColumn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 157px;
  min-width:max-content;
}

.headerColumn button{
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.buttonAddTodo{
  margin-block-start: 15px;

}

.taskContainer{
  max-width: 500px;
  width: 100%;
  height: 63px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
  margin-block-start: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 5px;
}



.contextTaskContainer p{
  -webkit-line-clamp: 1;
	line-clamp: 1;
  display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
  font-size: 14px;
  font-family: 'Noto Sans';
  line-height: 14px;
  margin: none;
  color: rgba(0, 0, 0, 0.5);
  margin-block: 0px;
  margin-block-start: 5px;
  max-width: 400px;
}

.contextTaskContainer h3{
  -webkit-line-clamp: 1;
	line-clamp: 1;
  display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
  font-family: 'Noto Sans';
  font-size: 20px;
  line-height: 20px;
  margin-block: 0px;
  color: black;

}

.flexTask{
  display: flex;
  position: relative;
  gap: 15px;
  padding-inline-end: 14px;
  align-items: start;
  max-width: inherit;

}

.taskCheckbox {
  position: absolute;
  display: flex;
  align-items: baseline;
  z-index: -1;
  opacity: 0;
  
}

.taskCheckbox+label::before{
  position: relative;
  top: 0px;
}

.taskCheckbox+label {
  display: inline-flex;
  align-items: baseline;
  user-select: none;
}
.taskCheckbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #0080ff;
  border-radius: 50%;
  margin-inline: 14px;
  margin-block-start: 0px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  align-content: start;
  cursor: pointer;
}

.taskCheckbox:checked+label::before {
  outline: none;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 16 16'%3e%3cpath fill='%23fff' d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z'/%3e%3c/svg%3e");
  background-size: 16px 16px;
  background-position: center;
}

.itemsPosition{
  display: flex;
  flex-direction: row;
  align-items: start;
  position: relative;
}


