.ul li {
  list-style: none;
  text-align: left;
  width: 100%;
}

.ul {
  padding: 0;
  margin: 0;
  padding-block-start: 25px;
  padding-inline: 40px;
  width: max-content;
  text-align: left;
}

.projectPunckt {
  font-weight: 400;
  font-family: 'Noto Sans';
  font-size: 16px;
  display: flex;
  justify-content: flex-start;

  gap: 15px;
  align-items: center;
  justify-items: start;
  color: black;
  margin-inline-start: 40px;
}

.containerMenu {
  max-height: 100vh;
  max-width: 1250px;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.206);
}
