/*  */

.body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.containerPanel {
  max-width: 100vw;
}

.leftPartPanel {
  display: none;
}

.rigtPartPanel {
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
}

.inputContextContainer {
  padding-block: 42px;
  margin-inline: 27px;
  max-width: 404px;
}

.headerStyle {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.headerStyle h2 {
  line-height: 15px;
  padding-block-start: 42px;
}

.headerStyle p {
  line-height: 5px;
}

.inputContextContainer input:first-of-type {
  margin-block-start: 40px;
}

.inputContextContainer input:not(:first-of-type) {
  margin-block-start: 16px;
}

.inputContextContainer input {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  outline: none;
  border: none;
  outline: 1px solid #eeeeee;
  padding-left: 10px;
  box-sizing: border-box;
}

.inputContextContainer button {
  width: 234px;
  height: 57px;
  border-radius: 30px;
  border: none;
  margin-block-start: 16px;
  margin-inline: auto;
  background-color: #0575e6;
  color: white;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recoverContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-block-start: 14px;
  padding-block-end: 78px;
}

.recoverLink {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-block-start: 14px;
}
.registerLink {
  font-size: 14px;
  margin-block-start: 8px;
}
/**/

@media (min-width: 1200px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: white;
  }

  .containerPanel {
    display: flex;
    margin: auto;
    justify-content: center;
    max-height: 770px;
    box-shadow: 4px 5px 124.3px rgba(0, 0, 0, 0.245);
    border-radius: 15px;
  }

  .leftPartPanel {
    width: 889px;
    height: 770px;
    background-color: white;
    background-image: url('./images/bg.jpg');
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }

  .rigtPartPanel {
    width: 583px;
    height: 770px;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }

  .contextContainer {
    max-width: 350px;
    margin-inline: auto;
  }

  .leftPartPanel h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Noto Sans';
    color: white;
    line-height: 60px;
    margin-block: 0px;
  }

  .leftPartPanel p {
    font-size: 18px;
    font-weight: normal;
    color: white;
    font-family: 'Noto Sans';
    line-height: 30px;
    margin-block: 0px;
  }

  .leftPartPanel button {
    padding-block: 15px;
    padding-inline: 30px;
    border-radius: 30px;
    background-color: #0575e6;
    color: white;
    border: none;
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin-block-start: 53px;
  }

  .headerStyle h2 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Noto Sans';
    line-height: 39px;
    margin-block: 0px;
  }

  .headerStyle p {
    font-size: 18px;
    font-family: 'Noto Sans';
    font-weight: 27px;
    margin-block-start: 10px;
  }

  .inputContextContainer {
    margin-inline: auto;
    max-width: 307px;
  }

  .inputContextContainer input {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    width: 307px;
    height: 60px;
    padding-left: 26px;
  }

  .inputContextContainer input:first-of-type {
    margin-block-start: 40px;
  }

  .inputContextContainer input:first-of-type::before {
    content: '🔎';
  }

  .inputContextContainer input:not(:first-of-type) {
    margin-block-start: 16px;
  }

  .inputContextContainer button {
    margin-block-start: 16px;
    padding-block: 26px;
    padding-inline: 18px;
    border-radius: 30px;
    color: white;
    background-color: #0575e6;
    border: 0;
    font-size: 14px;
    line-height: 21px;
    width: 234px;
    max-height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans';
    margin-block-end: 14px;
  }

  .recoverLink {
    font-family: 'Noto Sans';
    font-size: 14px;
    color: #333333;
    text-decoration: none;
  }

  .recoverContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .registerLink {
    font-size: 14px;
    display: none;
  }
}
