*,
::before,
::after {
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.registerPanell {
    width: 1472px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 889px 1fr;
    box-shadow: 4px 5px 124.3px rgba(0, 0, 0, 0.245);
    border-radius: 15px;
    box-shadow: 4px 5px 124.3px rgba(0, 0, 0, 0.245);
}

.authorization_wrapper {
    background-image: url(../register/images/bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
}

.authorization {
    margin-inline-start: 239px;
}

.authorization p {
    margin: 0;
    margin-block-start: 10px;
    margin-block-end: 23px;
}

.headingAuthorization {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: aliceblue;
    margin: 0;
}

.authorization p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: aliceblue;
}

.authorization button {
    width: 150px;
    height: 37px;
    border-radius: 30px;
    color: white;
    background-color: #0575e6;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.formRegister {
    width: 358px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.formRegister p{
    margin: 0;
    margin-block-end: 35px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: 18px;
    line-height: 1.5;
    color: #333333;
}

.formRegister h2 {
    margin-bottom: 3px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-style: 26px;
    line-height: 1.5;
    color: #333333;
}

.formRegister__borderNone {
    width: 307px;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0;
}

.formRegister input {
    border: 1px solid #eeeeee;
    border-radius: 30px;
    width: 307px;
    height: 60px;
    padding-inline: 26px;
}

.formRegister input:last-child {
    margin-block-end: 16px;
}

.formRegister__button {
    border-radius: 30px;
    color: white;
    background-color: #0575e6;
    border: 0;
    width: 307px;
    height: 57px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}

.formRegister__borderNone input::placeholder {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    opacity: 30%;
}

.Username_input {
    position: relative;
}

.userNameIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 1;
}
